<div class="row justify-content-center">
    <h1>By Raúl Rentería</h1>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="row justify-content-center">
    <a href="https://www.facebook.com/Pokemon/?locale=es_LA"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Facebook_icon.svg/1024px-Facebook_icon.svg.png" style="max-width: 100px;"/></a>
    <a href="https://www.youtube.com/@PokemonOficialES"><img src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Youtube_logo.png" style="max-width: 100px;"/></a>
    <a href="https://www.instagram.com/pokemon/"><img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg" style="max-width: 100px;"/></a>
</div>
<br>
<br>
<br>

